
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href='@Url.Content("~/dist/third/bootstrap.min.css")' rel="stylesheet" />

    @RenderSection("PreCss", required: false);
    @RenderSection("PreJs", required: false);
</head>
<body>
    @RenderBody()

    @*<environment names="Development">
        <script src="~/dist/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>*@
    @RenderSection("PostJs", required: false);    
</body>
</html>
